<nav class="breadcrumbs">
    <a class="breadcrumbs__item breadcrumbs__item_home" href="/">
        <i class="icon icon_home"></i>
    </a>
    <a class="breadcrumbs__item" href="#">покупателям</a>
    <span class="breadcrumbs__item breadcrumbs__item_last">гарантии</span>
</nav>