<div class="js-popup popup-wrapper" data-popup="cities">
    <div class="popup popup_city">
        <div class="js-close-popup popup__close">
            <i class="icon-close-bold mobile-visible tab-hidden desktop-hidden"></i>
            <i class="icon icon_close mobile-hidden"></i>
        </div>
        <div class="popup__title">
            <div class="main-title">
                <div class="main-title__text">выберите город</div>
            </div>
        </div>
        <div class="popup__search">
            <form class="st-search-form" action="#">
                <input class="js-cities-autocomplete st-input st-input_search-city" type="text">
                <button class="st-search-form__submit"></button>
            </form>
        </div>
        <div class="list-cities">
            <div class="list-cities__big-cities list-cities-section">
                <div class="list-cities-section__title">крупные города</div>
                <div class="list-cities-section__content">
                    <ul class="st-popup-list st-popup-list_cities">
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Москва</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Санкт-Петербург</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Владивосток</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Волгоград</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Воронеж</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Екатеринбург</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Казань</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Краснодар</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Красноярск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Нижний Новгород</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Новосибирск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Омск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Пермь</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Ростов-на-Дону</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Самара</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Хабаровск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Челябинск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Уфа</a></li>
                    </ul>
                </div>
            </div>
            <div class="list-cities__other-cities list-cities-section">
                <div class="list-cities-section__title">другие города</div>
                <div class="list-cities-section__content">
                    <ul class="st-popup-list st-popup-list_cities">
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Абакан</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Белгород</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Благовещенск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Вологда</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Дзержинск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Ессентуки</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Иркутск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Кемерово</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Киров</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Курган</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Курск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Липецк</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Нефтекамск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Новороссийск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Магнитогорск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Октябрьский</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Оренбург</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Пенза</a></li>
                    </ul>
                    <ul class="st-popup-list st-popup-list_cities">
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Абакан</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Белгород</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Благовещенск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Вологда</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Дзержинск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Ессентуки</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Иркутск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Кемерово</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Киров</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Курган</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Курск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Липецк</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Нефтекамск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Новороссийск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Магнитогорск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Октябрьский</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Оренбург</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Пенза</a></li>
                    </ul>
                    <ul class="st-popup-list st-popup-list_cities">
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Абакан</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Белгород</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Благовещенск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Вологда</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Дзержинск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Ессентуки</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Иркутск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Кемерово</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Киров</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Курган</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Курск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Липецк</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Нефтекамск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Новороссийск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Магнитогорск</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Октябрьский</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Оренбург</a></li>
                        <li class="st-popup-list__item"><a class="st-popup-list__link" href="#">Пенза</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="js-popup popup-wrapper" data-popup="auth">
    <div class="popup popup_auth">
        <div class="js-close-popup popup__close mobile-hidden">
            <i class="icon icon_close"></i>
        </div>
        <div class="popup__title">
            <div class="main-title">
                <a class="js-close-popup main-title__link" href="#"></a>
                <div class="main-title__text">авторизация</div>
            </div>
        </div>
        <div class="popup__content">
            <div class="js-auth-step-1 popup__content-left">
                <form class="popup-form">
                    <div class="popup-form__top-info">Мы отправим одноразовый код
                        доступа по SMS на ваш номер:</div>
                    <input class="js-inputmask popup-form__input st-input" type="text">
                    <div class="popup-form__button">
                        <button data-call=".js-auth-step-2" data-close=".js-auth-step-1" class="js-auth-step-1-trigger btn btn_orange btn_mobile-full">ПОЛУЧИТЬ КОД</button>
                    </div>
                </form>
            </div>
            <div class="js-auth-step-2 popup__content-left hidden">
                <form class="popup-form">
                    <div class="popup-form__top-info">Введите код из SMS:</div>
                    <input class="js-inputmask popup-form__input st-input" type="text">
                    <p class="popup-form__input-info"><a href="#" class="popup-form__send-more">Отправьте мне новый код</a></p>
                    <div class="popup-form__button">
                        <button class="btn btn_orange btn_mobile-full">войти</button>
                    </div>
                </form>
            </div>
            <div class="popup__content-right">
                <ul class="adv-popup">
                    <li class="adv-popup-item">
                        <div class="adv-popup-item__header">
                            <i class="icon icon_secure icon_gray"></i>
                        </div>
                        <div class="adv-popup-item__content">
                            <p class="adv-popup-item__title">Это безопасно.</p>
                            <div class="adv-popup-item__descr">Мы не передаем ваши данные третьим лицам <br> и не рассылаем рекламу</div>
                        </div>
                    </li>
                    <li class="adv-popup-item">
                        <div class="adv-popup-item__header">
                            <i class="icon icon_list icon_gray"></i>
                        </div>
                        <div class="adv-popup-item__content">
                            <p class="adv-popup-item__title">Это удобно.</p>
                            <div class="adv-popup-item__descr">Сохраняйте расчеты <br> и отслеживайте заказы онлайн</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="js-popup popup-wrapper" data-popup="order-call">
    <div class="popup popup-auth">
        <div class="js-close-popup popup__close mobile-hidden">
            <span class="icon icon_close icon_black"></span>
        </div>
        <div class="popup__title">
            <div class="main-title">
                <a class="main-title__link" href="#"></a>
                <div class="main-title__text">Заказать звонок</div>
            </div>
        </div>
        <div class="popup__content">
            <div class="popup__content-left">
                <form class="popup-form">
                    <div class="popup-form__top-info">Оставьте ваш номер и оператор перезвонит вам:</div>
                    <div class="popup-form__input">
                        <input class="st-input st-input_mb_12" type="text">
                    </div>
                    <div class="popup-form__button">
                        <button class="js-call-notification btn btn_orange" data-call-notification="callback">заказать звонок</button>
                    </div>
                </form>
            </div>
            <div class="popup__content-right">
                <ul class="adv-popup">
                    <li class="adv-popup-item">
                        <div class="adv-popup-item__header">
                            <div class="adv-popup-item__icon">
                                <span class="icon icon_secure icon_gray"></span>
                            </div>
                        </div>
                        <div class="adv-popup-item__content">
                            <p class="adv-popup-item__title">Это безопасно.</p>
                            <div class="adv-popup-item__descr">Мы не передаем ваши данные третьим лицам и не рассылаем рекламу</div>
                        </div>
                    </li>
                    <li class="adv-popup-item">
                        <div class="adv-popup-item__header">
                            <div class="adv-popup-item__icon">
                                <span class="icon icon_time icon_gray"></span>
                            </div>
                        </div>
                        <div class="adv-popup-item__content">
                            <p class="adv-popup-item__title">Это быстро.</p>
                            <div class="adv-popup-item__descr">Квалифицированный специалист ответит
                                на ваши вопросы через несколько секунд</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="js-popup popup-wrapper" data-popup="mobile-menu">
    <div class="popup-menu" >
        <div class="js-close-popup popup-menu__close">
            <span class="icon-close-bold"></span>
        </div>

        <div class='st-popup-list st-popup-list_menu'>
            <div class="st-popup-list__item st-popup-list__item_bb">
                <div class="popup-menu__select-city">
                    <p class="popup-menu__city-name">
                        <a class="js-open-popup dotted-link" data-open-popup="cities" href="#">Гедеоновка</a>
                    </p>
                    <p class="popup-menu__city-info">Представительство: Смоленск</p>
                </div>
            </div>
            <div class="st-popup-list__item st-popup-list__item_bb">
                <a class="js-open-popup st-popup-list__link" data-open-popup="auth" href="#">Войти на сайт</a>
            </div>
            <div class="st-popup-list__item">
                <a class="st-popup-list__link" href="#">Каталог</a>
            </div>
            <div class="st-popup-list__item">
                <a class="st-popup-list__link" href="#">Заказы</a>
            </div>
            <div class="st-popup-list__item">
                <a class="st-popup-list__link" href="#">Гарантии</a>
            </div>
            <div class="st-popup-list__item">
                <a class="st-popup-list__link" href="#">Контакты</a>
            </div>
            <div class="st-popup-list__item">
                <a class="st-popup-list__link" href="#">О компании</a>
            </div>
        </div>
    </div>
</div>


<div class="js-popup popup-wrapper popup-wrapper_search desktop-hidden" data-popup="mobile-search">
    <div class="mobile-search" data-popup="mobile-search">
        <form class="mobile-search__header mobile-search-form">
            <input class="mobile-search-form__input" placeholder="Найти..." type="text">
            <div class="js-close-popup mobile-search-form__close" data-closing-popup="mobile-search">
                <i class="icon icon_close"></i>
            </div>
            <button class="mobile-search-form__submit">
                <span class="icon-arrow"></span>
            </button>
        </form>
        <div class="mobile-search__content">
            <div class="mobile-search__descr">Оформить заказ в DoorHan просто – всего
                в три шага! Начните с выбора продукта
                в нашем каталоге.</div>
            <p>
                <a class="btn btn_orange btn_mobile-full" href="#">ПЕРЕЙТИ В КАТАЛОГ</a>
            </p>
        </div>
    </div>
</div>


<div class="popup-notification" data-notification="callback">
    Заявка успешно отправлена. Оператор скоро перезвонит Вам.
</div>