<div class="site-header">
    <div class="container">
        <div class="site-header__container">
            <div class="js-popup site-header__left-popup opened" data-popup="confirm-city">
                <div class="confirmation-city">
                    <div class="confirmation-city__header">
                        Ваш город — <span class="ff-bold">Гедеоновка?</span>
                    </div>
                    <div class="confirmation-city__content">
                        <div class="confirmation-city__btn-wrap">
                            <a class="js-close-popup btn btn_select-city-white" href="#">да, верно</a>
                        </div>
                        <div class="confirmation-city__btn-wrap">
                            <a class="js-open-popup btn btn_select-city" data-open-popup="cities" href="#">выбрать другой</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row__col-left">
                    <a class="logo" href="#">
                        <img class="logo__image" src="images/logo.jpg" alt="">
                    </a>
                </div>
                <div class="row__col-right">
                    <nav class="main-nav">
                        <a class="main-nav__item main-nav__item_active" href="#">
                            <div class="m-nav-item">
                                <div class="m-nav-item__header">
                                    <div class="m-nav-item__circle"></div>
                                </div>
                                <div class="m-nav-item__name">Каталог</div>
                            </div>
                        </a>
                        <a class="main-nav__item" href="#">
                            <div class="m-nav-item">
                                <div class="m-nav-item__header">
                                    <div class="m-nav-item__circle"></div>
                                </div>
                                <div class="m-nav-item__name">Заказ</div>
                            </div>
                        </a>
                        <a class="main-nav__item " href="#">
                            <div class="m-nav-item">
                                <div class="m-nav-item__header">
                                    <div class="m-nav-item__circle"></div>
                                </div>
                                <div class="m-nav-item__name">Оплата</div>
                            </div>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>