<div class="total-price">
    <div class="total-price-panel">
                        <span class="total-price-panel__text">
                            Итоговая стоимость <br class="visible-mobile"> с монтажом
                        </span>
        <span class="total-price-panel__price">
                            138 978 Р
                        </span>
    </div>
    <div class="total-price__price-nds">
        <p class="total-price__price-nds-title">В том числе НДС</p>
        <p class="total-price__price-nds-value">7 994 Р</p>
    </div>
    <div class="total-price__delivery-mobile">
        <p class="total-price__delivery-mobile-destination">Доставка: Смоленск → Гедеоновка
        </p>
        <p class="total-price__delivery-mobile-explanation">14 р/км, в стоимость не включена</p>
    </div>
    <div class="total-price__delivery">
        <div class="total-price__delivery-info">
            <p class="total-price__delivery-destination">
                Стоимость доставки из Смоленска в Гедеоновку
            </p>
            <p class="total-price__delivery-explanation">
                в стоимость не включена, может быть выполнена дилером по цене
            </p>
        </div>
        <div class="total-price__delivery-price">14 Р/км</div>
    </div>
</div>