{% extends "layouts/app.twig" %}

{% block pageTitle %}Карточка товара{% endblock %}


{% block content %}
    {% include "widgets/site-header.twig" %}

    <main class="main">
        <div class="container">

            <div class="main__breadcrumbs">
                {% include "widgets/breadcrumb.twig" %}
            </div>

            <div class="main__title">
                <div class="main-title">
                    <a class="main-title__link" href="#"></a>
                    <h1 class="main-title__text">Расширенная гарантия</h1>
                </div>
            </div>

            <div class="main__content">
                <form class="js-validate-form st-form st-form_width_540">
                    <div class="st-form__section-title">регистрация заказа</div>
                    <div class="st-form__row">
                        <div class="st-form-line">
                            <div class="st-form-line__section st-form-line__section_left st-form-line__section_pt_0">
                                <p class="st-form-line__name st-form-line__name_required">Серийный номер изделия</p>
                            </div>
                            <div class="st-form-line__section st-form-line__section_right">
                                <div class="st-form-line__section-el">
                                    <select class="st-select">
                                        <option>54154</option>
                                        <option>21324</option>
                                    </select>
                                </div>
                                <div class="st-form-line__section-el">
                                    <div class="st-descr st-descr_color_gray">
                                        <p>Дилер: Дилер – Москва</p>
                                        <p>Нахимовский пр., 24, г. Москва, 117209</p>
                                        <p>E-mail: vorota@mail.ru</p>
                                        <p>Skype: vorota</p>
                                    </div>
                                </div>
                                <div class="st-form-line__section-el">
                                    <div class="icon-block icon-block_warranty">
                                        <div class="icon-block__icon">
                                            <div class="icon-warranty">
                                                <span class="icon-warranty__val">3</span>
                                                <span class="icon-warranty__text">года</span>
                                            </div>
                                        </div>
                                        <div class="icon-block__text">Гарантия от производителя</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st-form__section-title">отзыв о нашей работе</div>
                    <div class="st-form__row">
                        <div class="st-form-line">
                            <div class="st-form-line__section st-form-line__section_left st-form-line__section_pt_0">
                                <p class="st-form-line__name">Оценка продукции</p>
                            </div>
                            <div class="st-form-line__section st-form-line__section_right">
                                <div class="radio-list">
                                    {% for i in 5..1 %}
                                        <div class="radio-list__item">
                                            <label class="st-radio-label">
                                                <span class="st-radio">
                                                    <input type="radio" name="evaluation-prod"
                                                           class="st-radio__input">
                                                    <span class="st-radio__icon"></span>
                                                </span>
                                                <span class="st-radio-label__text">{{ i }}</span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st-form__row">
                        <div class="st-form-line">
                            <div class="st-form-line__section st-form-line__section_left st-form-line__section_pt_0">
                                <p class="st-form-line__name">Оценка качества монтажа</p>
                            </div>
                            <div class="st-form-line__section st-form-line__section_right">
                                <div class="radio-list">
                                    {% for i in 5..1 %}
                                        <div class="radio-list__item">
                                            <label class="st-radio-label">
                                                <span class="st-radio">
                                                    <input type="radio" name="evaluation-prod"
                                                           class="st-radio__input">
                                                    <span class="st-radio__icon"></span>
                                                </span>
                                                <span class="st-radio-label__text">{{ i }}</span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="st-form__row">
                        <div class="st-form-line">
                            <div class="st-form-line__section st-form-line__section_left mobile-hidden">
                                <p class="st-form-line__name">Ваше сообщение</p>
                            </div>
                            <div class="st-form-line__section st-form-line__section_right">
                                <textarea class="st-textarea" placeholder="Текст сообщения"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="st-form__row">
                        <div class="st-form-line">
                            <div class="st-form-line__section st-form-line__section_left mobile-hidden">
                                <p class="st-form-line__name st-form-line__name_required">Электронная почта</p>
                            </div>
                            <div class="st-form-line__section st-form-line__section_right">
                                <input class="st-input" type="text" required placeholder="Электронная почта">
                            </div>
                        </div>
                    </div>

                    <div class="st-form__row st-form__row_mb_30">
                        <div class="st-form-line">
                            <div class="st-form-line__section st-form-line__section_left st-form-line__section_pt_0 mobile-hidden">
                                <p class="st-form-line__name">Фотографии</p>
                            </div>
                            <div class="st-form-line__section st-form-line__section_right">
                                <div class="st-form-line__section-el">
                                    <div class="js-attach-files attach-files">
                                        <div class="attach-files__header">
                                            <p class="attach-files__title">
                                                <i class="icon icon_attach"></i>
                                                Прикрепить файлы:
                                            </p>
                                            <span class="attach-files__value">
                                                <span class="js-attach-files__current attach-files__current">0</span>
                                                <span class="attach-files__total">
                                                    /<span class="js-attach-files__total">5</span>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="attach-files__content">
                                            <div class="js-attach-files__item attach-files__item">
                                                <input type="file" class="js-attach-file__input attach-files__input">
                                            </div>
                                            <div class="js-attach-files__item attach-files__item">
                                                <input type="file" class="js-attach-file__input attach-files__input">
                                            </div>
                                            <div class="js-attach-files__item attach-files__item">
                                                <input type="file" class="js-attach-file__input attach-files__input">
                                            </div>
                                            <div class="js-attach-files__item attach-files__item mobile-hidden">
                                                <input type="file" class="js-attach-file__input attach-files__input">
                                            </div>
                                            <div class="js-attach-files__item attach-files__item mobile-hidden">
                                                <input type="file" class="js-attach-file__input attach-files__input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-form-line__section-el">
                                    <div class="switchable-cont switchable-cont_checkbox">
                                        <input class="switchable-cont__input switchable-cont__input_checkbox" id="toggle-checkbox5" type="checkbox">
                                        <label class="switchable-cont__toggle" for="toggle-checkbox5">
                                            <span class="switchable-cont__button switchable-cont__button_checkbox switchable-cont__button_middle"></span>
                                            <span class="switchable-cont__toggle-content">DoorHan может опубликовать отзыв на сайте</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="st-form__row">
                        <div class="st-form-line">
                            <div class="st-form-line__section st-form-line__section_left mobile-hidden"></div>
                            <div class="st-form-line__section st-form-line__section_right">
                                <div class="st-form__button st-form__button_mobile-full">
                                    <button type="reset" class="btn btn_gray btn_mobile-full">ОТМЕНИТЬ</button>
                                </div>
                                <div class="st-form__button st-form__button_mobile-full">
                                    <button type="submit" class="btn btn_orange btn_mobile-full btn_mobile_active btn_mobile_mb_15">ОТПРАВИТЬ</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </main>
{% endblock %}