<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Для печати</title>

    <!-- Stylesheets -->
    {% include "layouts/stylesheets.twig" %}
</head>
<body>
<div class="site-wrapper">
    <div class="print-page-header">
        <div class="container">
            <div class="print-page-header__container">
                <div class="print-page-header__logo">
                    <a class="logo logo_print" href="#">
                        <img src="images/logo.jpg" alt="">
                    </a>
                </div>
                <div class="print-page-header__descr">
                    <p class="ff-bold">ДорХан – Москва</p>
                    <p>Нахимовский пр., 24, г. Москва, 117209</p>
                    <p>Тел. 8 (495) 718-68-11</p>
                    <p>E-mail: vorota@mail.ru</p>
                    <p>Skype: vorota</p>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="container">

            <div class="main__title">
                <div class="main-title main-title_print">
                    <h1 class="main-title__text">Сдвижные ворота <br> Панель «Филенка»</h1>
                </div>
            </div>

            <div class="main__content">
                <div class="print-page-content">
                    <div class="print-page-content__section">
                        <div class="print-page-content__preview-wrap">
                            <img class="print-page-content__image" src="images/products/product2.jpg" alt="">
                            <div class="print-page-content__preview-descr">
                                <div class="print-page-price">
                                    <p class="print-page-price__title">ЦЕНА</p>
                                    <div class="print-page-price__price">65 500 &#8381;</div>

                                    <div class="print-page-price__section">
                                        <p class="print-page-price__section-title">МОНТАЖ</p>
                                        <p class="print-page-price__section-descr">Включен в стоимость</p>
                                    </div>

                                    <div class="print-page-price__section">
                                        <p class="print-page-price__section-title">ДОСТАВКА</p>
                                        <div class="print-page-price__section-descr">
                                            <p>Смоленск → <span class="dotted-link">Гедеоновка</span> </p>
                                            <p>в стоимость не включена, может быть выполнена дилером по цене</p>
                                        </div>
                                        <p class="print-page-price__delivery-price">4 &#8381;/км</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="print-page-content__section">
                        <div class="print-page-content__section-title">Параметры</div>
                        <div class="characteristics-list characteristics-list_print">
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Материал полотна</div>
                                <div class="characteristics-list__cell">Сендвич-панели</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Материал окантовки</div>
                                <div class="characteristics-list__cell">Экструдированный алюминиевый профиль</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Покраска окантовки</div>
                                <div class="characteristics-list__cell">Порошковая краска</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Поддерживающие крепежные элементы</div>
                                <div class="characteristics-list__cell">-</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Прочность крепления ручек</div>
                                <div class="characteristics-list__cell">не менее 1000 Н</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Сопротивление ветровой нагрузке</div>
                                <div class="characteristics-list__cell">Св. 700 Па</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Изоляция воздушного шума</div>
                                <div class="characteristics-list__cell">35 дБ</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Безотказность</div>
                                <div class="characteristics-list__cell">мин. 20 000 циклов открытия/закрытия</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Усилие ручного открытия и закрытия ворот</div>
                                <div class="characteristics-list__cell">не более 150 Н</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Сопротивление удару твердым телом</div>
                                <div class="characteristics-list__cell">Е - 10 <br> Дж h - 1 м <br> m шара - 1 кг</div>
                            </div>
                        </div>
                    </div>
                    <div class="print-page-content__section">
                        <div class="print-page-content__section-title">Характеристики</div>
                        <div class="characteristics-list characteristics-list_print">
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Материал полотна</div>
                                <div class="characteristics-list__cell">Сендвич-панели</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Материал окантовки</div>
                                <div class="characteristics-list__cell">Экструдированный алюминиевый профиль</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Покраска окантовки</div>
                                <div class="characteristics-list__cell">Порошковая краска</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Поддерживающие крепежные элементы</div>
                                <div class="characteristics-list__cell">-</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Прочность крепления ручек</div>
                                <div class="characteristics-list__cell">не менее 1000 Н</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Сопротивление ветровой нагрузке</div>
                                <div class="characteristics-list__cell">Св. 700 Па</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Изоляция воздушного шума</div>
                                <div class="characteristics-list__cell">35 дБ</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Безотказность</div>
                                <div class="characteristics-list__cell">мин. 20 000 циклов открытия/закрытия</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Усилие ручного открытия и закрытия ворот</div>
                                <div class="characteristics-list__cell">не более 150 Н</div>
                            </div>
                            <div class="characteristics-list__row">
                                <div class="characteristics-list__cell">Сопротивление удару твердым телом</div>
                                <div class="characteristics-list__cell">Е - 10 <br> Дж h - 1 м <br> m шара - 1 кг</div>
                            </div>
                        </div>
                    </div>
                    <div class="print-page-content__section">
                        <div class="print-page-contacts">
                            <div class="print-page-contacts__section">Нужна консультация? Позвоните нам: <span class="ff-bold">+7 (495) 933 24 00</span></div>
                            <div class="print-page-contacts__section"><span class="icon icon_skype"></span> <span>Skype: <span class="ff-bold">doorhan</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
    {% include "layouts/scripts.twig" %}
</body>
</html>

