<footer class="site-footer">
    <div class="white-footer">
        <div class="container">
            <div class="white-footer__container">
                <div class="white-footer__section white-footer__section_sm_hidden">
                    <div class="contacts">
                        <div class="contacts__item">
                            <span class="contacts__phone">
                                Позвоните нам:
                                <a class="contacts__link" href="tel:+74959332400">+7 495 933 24 00</a>
                            </span>

                        </div>
                        <div class="contacts__item">
                            <a class="contacts__message contacts__message_footer" href="#"></a>
                        </div>
                        <div class="contacts__item">
                            <a class="contacts__skype contacts__skype_footer" href="skype:asdasd?chat"></a>
                        </div>
                    </div>
                </div>
                <div class="white-footer__section">
                    <div class="soc-block">
                        <p class="soc-block__title">Мы в соцсетях:</p>
                        <nav class="soc-nav">
                            <a class="soc-nav__item soc-nav__item_type_youtube" href="#"></a>
                            <a class="soc-nav__item soc-nav__item_type_vk" href="#"></a>
                            <a class="soc-nav__item soc-nav__item_type_fb" href="#"></a>
                            <a class="soc-nav__item soc-nav__item_type_tw" href="#"></a>
                            <a class="soc-nav__item soc-nav__item_type_houzz" href="#"></a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-footer">
        <div class="container">
            <div class="gray-footer-inner">
                <div class="gray-footer__section">
                    <p>© DoorHan, 2016</p>
                </div>
                <div class="gray-footer__section gray-footer__section_xs_hidden">
                    <a href="#" class="gray-footer-link">Условия использования</a>
                </div>
            </div>
        </div>

    </div>
</footer>